<div id="landing-page">
  <div class="hero-unit">
    <h1>Добрый день!</h1>
    <p><strong><%= number_with_delimiter(Solution.count) %></strong> solutions submitted by <strong><%= number_with_delimiter(User.count) %></strong> users</p>
    <p>
      <%= button_to "Get Started", problems_path, method: :get %>
    </p>
  </div>

  <div class="blurb">
    <p>"Здесь можно проверить домашние задания по курсу Руби.</p>

    <p>As for the problems, the premise is simple: simply fill the code box with Ruby code to be substituted for the underscores (___) in the problem. If code
    passes the assertions, then you get points and you can move on to another problem. Good luck!</p>

  </div>
</div>
